#road {
    width: 1000px;
    height: 1000px;
}

@keyframes road {
    0% {
       bottom: 60px;
       left: 600px;
       transform: rotate(0deg);
    }

    6% {
        bottom: 60px;
        left: 1125px;
        transform: rotate(0deg);
    }

    8% {
        bottom: 90px;
        left: 1190px;
        transform: rotate(-65deg);
    }

    9% {
        bottom: 120px;
        left: 1215px;
        transform: rotate(-90deg);
    }

    13% {
        bottom: 750px;
        left: 1215px;
        transform: rotate(-90deg);
    }

    15% {
        bottom: 800px;
        left: 1155px;
        transform: rotate(-155deg);
    }

    17% {
        bottom: 820px;
        left: 1125px;
        transform: rotate(-180deg);
    }
    
    19% {
        bottom: 820px;
        left: 1115px;
        transform: rotate(-180deg);
    
    }

    24% {
        bottom: 820px;
        left: 570px;
        transform: rotate(-180deg);
    }

    26% {
        bottom: 790px;
        left: 500px;
        transform: rotate(-225deg);
    }

    28% {
        bottom: 760px;
        left: 470px;
        transform: rotate(-250deg);
    }

    29% {
        bottom: 720px;
        left: 460px;
        transform: rotate(-270deg);
    }

    32% {
        bottom: 120px;
        left: 460px;
        transform: rotate(-270deg);
    }

    33% {
        bottom: 90px;
        left: 500px;
        transform: rotate(-305deg);
    }

    34% {
        bottom: 65px;
        left: 555px;
        transform: rotate(-335deg);
    }

    37% {  
        bottom: 60px;
        left: 600px;
        transform: rotate(-360deg);
    }

    100% {
        bottom: 60px;
        left: 600px;
        transform: rotate(-360deg);
    }
}


#car {
    position: absolute;
    bottom: 60px;
    left: 600px;    

    animation: road;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 15s;    
    animation-delay: 1s;
    animation-timing-function: linear;
}